:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);
}
* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
  min-height: 100vb;
  min-height: 100dvb;
  font-family: Inter, sans-serif;
  background-color: var(--grey-900);
  color: var(--white);
}
main {
  min-height: 100dvb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.profile-card {
  background-color: var(--grey-800);
  display: flex;
  flex-direction: column;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
}
.img-c img {
  border-radius: 100%;
  width: 35%;
}

.links-c {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.links-c a {
  background-color: var(--grey-700);
  color: var(--white);
  font-weight: 600;
  border-radius: 8px;
  text-decoration-line: none;
  cursor: pointer;
  padding: 12px;
  font-size: 14px;
}
.links-c a:hover {
  background-color: var(--green);
  color: black;
}

.name {
  font-weight: 700;
  margin-bottom: 0;
}
.address {
  color: var(--green);
  font-size: 14px;
  font-weight: 600;
}
.job {
  font-size: 14px;
  font-weight: 400;
}
